@import './colors.less';
@import './vars.less';

.hide {
	display: none;
}

.hideHeight {
	height: 0;
}

.bgblack {
  background-color: #333;
}

.bgred {
  background-color: @red;
}

.show {
	display: block;
}

.clearfixed {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.flex {
	display: flex;
	align-items: center;
}

.btg {
	border-bottom: 1px solid @borderbt;
}

.btopg {
	border-top: 1px solid @borderbt;
}

.purple-bg {
	background: url('../images/bg/bj.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 0;
}

.bor-top {
	width: 100%;
	height: 22px;
	margin-top: -8px;
}

.bor-bottom {
	width: 100%;
	height: 22px;
	margin-top: -8px;
}

.item-padding {
	padding: .6rem .6rem;
}

.intro-p {
	color: #fff;
	text-align: center;
	font-size: 1.5rem;
}

.submit-btn {
  padding: 1rem 0rem;
  text-align: center;
  overflow: hidden;
  button.normal {
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: @normal-size;
    width: 100%;
    background-color: @m-yellow;
    border: none;
    border-radius: @radius-size;
  }
  a.normal {
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: @normal-size;
    width: 100%;
    min-width: 5rem;
    background-color: @m-yellow;
    border: none;
    border-radius: @radius-size;
  }
}

.tips {
	padding: .3rem 0;
	font-size: @small-size;
	color: @m-yellow;
	text-align: left;
	img {
		vertical-align: text-top;
		height: 1.2rem;
	}
}

.address-icon {
	span {
	  font-size: @normal-size;
	  width: @huge-size;
	  height: @huge-size;
	  line-height: @huge-size;
	  display: block;
	  border-radius: 50%;
	  color: white;
	}
}

.address-icon--small {
	span {
		text-align: center;
	  font-size: @small-size;
	  width: @big-size;
	  height: @big-size;
	  line-height: @big-size;
	  display: block;
	  border-radius: 50%;
	  color: white;
	}
}

.float-icon{
  height: 0px;
  position: relative;
  &-img{
    position: absolute;
    width: @normal-size;
    height: @normal-size;
    top: -32px;
    left: 76px;
    img {
      width: inherit;
      height: inherit;
    }
  }
}

div.question-icon{
  .flex;
  img{
  	margin-left: .3rem;
    width: @normal-size;
    height: @normal-size;
  }
}

.normal-btn {
  min-width: 6rem;
  max-width: 6.6rem;
  font-size: @normal-size;
  text-align: center;
  padding: .2rem .2rem;
  border-radius: @radius-size;
  box-sizing: border-box;
  white-space: nowrap;
}

.gosend-btn {
  .normal-btn;
  color: white;
  border: none;
  border: 1px solid @m-yellow;
  background: @m-yellow;
}

.promote-btn {
  min-width: 6rem;
  font-size: @small-size;
  border: none;
  color: @m-yellow;
  background: transparent;
}

.booklist {
	.flex;
	overflow: auto;
	&-item {
		width: 6rem;
		height: 7rem;
		padding: .4rem;
		background: url('../images/package.png') no-repeat;
		background-size: 100% 100%;
		background-color: rgba(255,164,20,.6);
		margin-right: 1rem;
		overflow: hidden;
		div {
		  font-size: @small-size;
		  color: white;
		}
	}
	&-intro {
		max-width: 68%;
		max-height: 6rem;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.packagelist {
	&-item {
		.flex;
		overflow: hidden;
		background: #ececec;
		margin-bottom: 10px;
		padding: 5px;
		img {
			margin-right: 5px;
			width: 4rem;
		}
		&--intro {
			text-align: left;
      p {
        font-size: @small-size;
      }
		}
	}
}

.packages__table {
  padding: .8rem 0;
  border: 1px solid #dedede;
  border-left-width: 0;
  border-right-width: 0;
  max-height: 24rem;
  overflow: auto;
  table {
    font-size: @normal-size;
    width: 100%;
    border-collapse:collapse;
    transition:all 2s;
    thead {
      color: @greyfont;
      th {
        font-weight: 100;
      }
    }
    tr {
      .btg;
      &:last-child {
        border-bottom-width: 0;
      }
      transition:width 2s;
      td {
        padding: .8rem 0;
        line-height: 2.7rem;
        font-size: @normal-size;
        overflow: hidden;
        max-width: 8rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        input {
          width: 4rem;
          font-size: @normal-size;
          text-align: center;
          border: none;
          background: transparent;
        }
      }
    }
  }
}

button.pay {
  background: transparent;
  font-size: @normal-size;
  padding: 1px 5px;
  border: 1px solid @m-yellow;
  border-radius: @radius-size;
  color: @m-yellow;
}

td.tools {
  transition: all 2s;
  width: 0;
  display: block;
}

.swipeleft {
  td.tools {
    transition: all 2s;
    width: auto;
    display: table-cell;
  }
}