@import './colors.less';
@import './vars.less';

.hide {
	display: none;
}

.hideHeight {
	height: 0;
}

.show {
	display: block;
}

.clearfixed {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.flex {
	display: flex;
	align-items: center;
}

.btg {
	border-bottom: 1px solid @borderbt;
}

.btopg {
	border-top: 1px solid @borderbt;
}

.purple-bg {
	background: url('../images/bg/bj.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 0;
}

.bor-top {
	width: 100%;
	height: 22px;
	margin-top: -8px;
}

.bor-bottom {
	width: 100%;
	height: 22px;
	margin-top: -8px;
}

.item-padding {
	padding: .6rem .6rem;
}

.intro-p {
	color: #fff;
	text-align: center;
	font-size: 1.5rem;
}

.tips {
	padding: .3rem 0;
	font-size: @small-size;
	color: @m-yellow;
	text-align: left;
	img {
		vertical-align: text-top;
		height: 1.2rem;
	}
}